body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #12221D;
    padding: 14px 28px;
    border-radius: 3px;
    width: 500px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.img-tenper{
    width: 420px;
}
.ten{
    display: flex;
    margin: 7px;
}
.buy-button{
  margin-top: 50px;
  height: 50px;
  width: 75px;
  border-color:#FFDE66 ;
  font-size: 16px;
  color: #FFDE66;
  background-color: inherit;
}
.buy-button:hover{
  background-color: #FFDE66;
  color: black;
  transition: 0.3s;
}